<h1>Your selected flight</h1>

<b>Departure airport :</b> <%= @flight.departure_airport.name %><br>
<b>Arrival airport :</b> <%= @flight.arrival_airport.name %><br>
<b>Start :</b> <%= @flight.start %><br>
<b>Duration :</b> <%= @flight.formatted_duration %>